[submodule "destiny-icons"]
	path = src/submodules/destiny-icons
	url = https://github.com/justrealmilk/destiny-icons
[submodule "src/submodules/destiny-icons"]
	path = src/submodules/destiny-icons
	url = https://github.com/justrealmilk/destiny-icons
