@import '../../styleVariables.scss';

.destinyIcon {
    background-color: $qm-grey-2;
    border: 1px solid $qm-grey;
    border-radius: 2px;
    position: relative;
    height: 46px;
    width: 46px;
    display: inline-block;

    &:hover {
        cursor: pointer;
    }

    svg {
        position: absolute;
        display: block;
        fill: $qm-grey-5;
        height: 34px;
        margin: auto;
        width: 34px;
        top: 7px;
        left: 7px;
    }
}

.disabled {
    opacity: 0.4;
    &:hover {
        cursor: not-allowed;
    }
}
