@import "../../../styleVariables.scss";

.modSelector {
    display: inline-block;
}

.button {
    background-color: $qm-dark-grey;
    border-radius: 2px;
    margin-right: 6px;
    &:hover {
        cursor: pointer;
    }
}

.modPanel {
    background-color: $qm-grey;
    border-radius: 2px;
    display: grid;
    margin: 6px 0;
    overflow: auto;
    padding: 6px;
    position: absolute;
    text-align: center;
    z-index: 10;
}
