.wrapper {
  position: relative;
  height: 52px;
  width: 52px;

  &:focus {
    outline-offset: -3px;
  }
}

.mod {
  position: relative;
  height: 52px;
  width: 52px;
}

.disabled {
  opacity: 0.4;
}

.energy {
  position: absolute;
  top: 0;
  left: 0;
}
