.wrapper {
    position: relative;
    height: 48px;
    width: 48px;
}

.mod {
    position: relative;
    height: 48px;
    width: 48px;
}

.energy {
    position: absolute;
    top: 0;
    left: 0;
}
