@import '../../../../styleVariables.scss';

.modSelector {
    display: inline-block;
}

.button {
    background-color: $qm-grey;
    border-radius: 2px;
    margin-right: 6px;
    &:hover {
        cursor: pointer;
    }
}

.modPanel {
    display: grid;
}
