@import '../../../../styleVariables.scss';

.armourSelector {
  display: inline-block;
  margin-right: 6px;
}

.armourPanel {
  display: grid;
}

.selectedArmour {
  border-radius: 2px;
}

.item {
  margin: 2px;
  border: 1px solid $qm-grey;
}

.disabled {
  opacity: 0.4;
}
