@import "../../../styleVariables.scss";

.armourSelector {
    display: inline-block;
    margin-right: 6px;
}

.armourPanel {
    background-color: $qm-grey-2;
    border-radius: 2px;
    display: grid;
    margin: 6px 0;
    overflow: auto;
    padding: 6px;
    position: absolute;
    text-align: center;
    z-index: 10;
}
