@import './styleVariables.scss';

.app {
    background: rgb(239, 239, 239);
    background: radial-gradient(
        circle,
        rgb(255, 255, 255) 18%,
        rgb(241, 241, 241) 55%,
        rgb(239, 239, 239) 87%
    );
    display: grid;
    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: 40px auto;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;

    :focus {
        outline: 1px ridge $qm-grey-2;
        outline-offset: 1px;
    }
}

.body {
    grid-column: 2;
    grid-row: 2;
}
