.App {
    background: rgb(255, 255, 255);
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 18%,
        rgba(241, 241, 241, 1) 55%,
        rgba(239, 239, 239, 1) 87%
    );
    height: 100vh;
    text-align: center;
    width: 100vw;
}
