@import '../../styleVariables.scss';

.container {
    position: relative;
}

.close {
    color: $qm-grey-5;
    cursor: pointer;
    font-size: 0.8em;
    position: absolute;
    right: 6px;
    top: 3px;
    z-index: 2;
}
