@import '../../../styleVariables.scss';

.armourFilter {
    text-align: left;
    width: 100%;
}

.sectionTitle {
    font-size: 1.3em;
    font-weight: bold;
    margin: 6px 0;
}

.statsFilter {
    width: 100%;
}

.stat {
    margin-right: 6px;
}

.statInput {
    border: 1px solid $qm-grey-2;
    border-radius: 2px;
    text-align: end;
    width: 40px;
}

.selectedMods {
    background-color: $qm-grey-3;
    border-radius: 2px;
    border: 1px solid $qm-grey;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 3px 0 6px 0;
    min-width: 50px;
    width: fit-content;
}
